$t-red: #ff5656;
$t-red-dark: #d44545;
$t-gray-light: #ccc;
$t-gray-dark: rgb(148, 148, 148);

.baseButton {
  transition: all 180ms ease-in-out;
  border: none;
  user-select: none;
  cursor: pointer;
  font: inherit;
  border-radius: 1em;
  padding: 0.5em 0.5em 0.1em 0.5em;
  width: 100px;
  height: 50px;
}

[data-variant="primary"] {
  background-color: $t-red;
  color: #FFFFFF;
  box-shadow: 0 0 10px #ccc;
  
  &:hover {background-color: $t-red-dark}

}

[data-variant="secondary"] {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px $t-gray-light, 0 0 0 2px $t-red;
  
  &:hover {box-shadow: 0 0 10px $t-gray-dark, 0 0 0 2px $t-red;}
}