$shit_gray: #696969;

.baseCard {
  border: 1px solid $shit_gray;
  min-height: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h1 {
    padding: 0.2em 1em 0 1em;
  }
  p {
    padding: 0 1em 0.2em 1em;
  }
  img {
    height: 25em;
    width: auto;
    object-fit: cover;
  }
  .ctaArea {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    align-items: end;
    flex-grow: 1;

    button {
      flex: 0 1 calc(25%);
      display: flex;
      margin-bottom: 2em;
      &:last-child {
        margin-left: 10px;
      }
      // margin-left: 20px;

    }
  }
}
